[submodule "CANFileTransferProtocol"]
	path = CANFileTransferProtocol
	url = https://github.com/DemiEljer/CANFileTransferProtocol.git
[submodule "libs/yaml-cpp"]
	path = libs/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
